body{
	margin:0px;
	padding:0px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 80%;
	width: 1000px;
	background-color: white;
	margin: 15px auto;
	padding: 15px 1.5em;
	/* border: 1px solid black;
	border-radius: 20px; */
	box-shadow: ;
	background-image: url;
	background-repeat: no-repeat;
	background-position: center;
	background-image:
	
}
header{
	border-bottom: 2px solid green;
	text-align: center;
	
	
}
/*Portfolio start*/

#slideshow{
	margin: 20px auto;
	border: 1px solid green;
	width:60%;
	border-radius: 5px;
}

h3{
	text-align:center;
	
}
#nav_menu{
	margin-left: 200px;
	margin-top: 20px;
	width: 100%;
	
}
.input1{
	width: 50%;
	margin-left:300px;
	margin-top: 50px;
}


#nav_menu ul{
	list-style-type:none;
	position: relative; /* so the submenus can be positioned*/
	
}
#nav_menu ul li {
	float: left;
	
}
#nav_menu ul ul{
	display: none;
	position: absolute;
	top:100%;
	
}
#nav_menu ul ul li {
	float: none;
	position: relative;
	
}

#nav_menu ul ul li ul{
	position:absolute;
	left:100%;
	top: 0;
	
}
#nav_menu ul li.lastitem ul li ul{
	position: absolute;
	left: -100%;
	top: 0;
	
}
#nav_menu ul li:hover > ul{
	display: block;
}
#nav_menu > ul::after {
	content:"";
	clear: both;
	display: block;
}

#nav_menu ul{
	margin:1px;
	padding: 0;
}
#nav_menu ul li a{
	text-align: center;
	display: block;
/*THERE GOES THE CSS FOR FORMATING THE MENUS*/
	width:200px;
	padding: 1em 0;
	text-decoration: none;
	background-color: aqua;
	color: white;
	font-weight: bold;
	border-right: 2px solid white;
	margin: 1px;
}
#nav_menu ul li.lastitem a{
	width: 178px
}
#nav_menu ul li a.current{
	color: yellow;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus{
	background-color: gray;
}
.cont{
	margin-top: 30px;
}
#footer{
	margin-top: 5px;
	width: 1000px;
	height: 50px;
	background-color: aqua;
	border-radius: 2px;
	text-align: center;
	color: white;

}
table{
	border: 1px solid black;
	border-collapse: collapse;
	}
th, td{
	border:1px solid black;
	padding: .2em .9em;
	text-align:right;
}
th.left, td.left{
	text-align: left;
}
thead, tfoot{
	background-color:aqua;
}
tfooter{
	font-weight:bold;
}



main{clear:both;}

a:link {color: green;}
a:hover{ color: fuchsia; }
main p:first-child {font-weight: bold;}
main P: first-child::first-letter {font-size: 150%}
	a{
		text-decoration: none;
	}





