body{
	margin:0px;
	padding:0px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 80%;
	width: 1000px;
	background-color: white;
	margin: 15px auto;
	padding: 15px 1.5em;
	border: 1px solid black;
	border-radius: 20px;
	background-image: url;
	background-repeat: no-repeat;
	background-position: center;
	
	
}
header{
	border-bottom: 2px solid green;
	text-align: center;
	
	
}
/*Portfolio start*/

#slideshow{
	margin: 20px auto;
	border: 1px solid green;
	width:80%;
	border-radius: 5px;
}

h3{
	text-align:center;
	
}
#nav_menu{
	margin-left: 100px;
}
#nav_menu ul{
	list-style-type:none;
	position: relative; /* so the submenus can be positioned*/
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul{
	display: none;
	position: absolute;
	top:100%;
}
#nav_menu ul ul li {
	float: none;
	position: relative;
}

#nav_menu ul ul li ul{
	position:absolute;
	left:100%;
	top: 0;
}
#nav_menu ul li.lastitem ul li ul{
	position: absolute;
	left: -100%;
	top: 0;
}
#nav_menu ul li:hover > ul{
	display: block;
}
#nav_menu > ul::after {
	content:"";
	clear: both;
	display: block;
}

#nav_menu ul{
	margin:1px;
	padding: 0;
}
#nav_menu ul li a{
	text-align: center;
	display: block;
/*THERE GOES THE CSS FOR FORMATING THE MENUS*/
	width:200px;
	padding: 1em 0;
	text-decoration: none;
	background-color: blue;
	color: white;
	font-weight: bold;
	border-right: 2px solid white;
}
#nav_menu ul li.lastitem a{
	width: 178px
}
#nav_menu ul li a.current{
	color: yellow;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus{
	background-color: gray;
}

/*css for the slide show*/

/*The end css for the slide show*/

#contact_article{
	margin:1px auto;
	background:url(../images/bg-header.jpg);
	height: 550px;
	width: 90%;
	padding:3px;
	
}

input{
	width:90%;
	padding:8px;
	margin:8px auto;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-sizing: border-box;
}

#footer{
	margin-top: 5px;
	width: 950px;
	height: 50px;
	background-color: blue;
	border-radius: 2px;
	text-align: center;
	color: white;

}

section{
	margin-top: 40px;
	background:url(../images/bg-header.jpg);
	border-radius: 4px;
	padding:7px;
}
#contact_section{
	background:url(../images/bg-header.jpg);
	border: 1px solig #ccc;
	height: 510px;
}
.contact_article{
	float:left;
	height: 490px;
	width: 48%;
	padding:3px;
	
}
input{
	width:90%;
	padding:8px;
	margin:8px auto;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}


main{clear:both;}

a:link {color: green;}
a:hover{ color: fuchsia; }





